<div class="container">
    <div class="jumbotron">
        <h1>Andrew'z Diamonds</h1>
        <p>For most people, buying a diamond is a new experience, but that doesn't mean it should be overwhelming. Understanding a diamond's quality characteristics is straightforward and simple.</p>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://pics.bluenile.com/assets/images/item/item_diamedu_cut_164x60.gif" alt="...">
                <div class="caption">
                    <h3>Cut</h3>
                    <p>The cut of a diamond determines its brilliance. Put simply, the better a diamond is cut, the more sparkle it will have.</p>
                    <p><a href="#/products" class="btn btn-primary" role="button">More</a> </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://pics.bluenile.com/assets/images/item/item_diamedu_clarity_164x60.gif" alt="...">
                <div class="caption">
                    <h3>Clarity</h3>
                    <p>Almost all diamonds have tiny imperfections. Diamonds with few or no imperfections receive the highest clarity grades.</p>
                    <p><a href="#/products" class="btn btn-primary" role="button">More</a> </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://pics.bluenile.com/assets/images/item/item_diamedu_shape_164x60.gif" alt="...">
                <div class="caption">
                    <h3>Shape</h3>
                    <p>As the name suggests, shape (round, princess, radiant, etc.) describes a diamond's form, primarily as viewed from above. All diamond shapes have different attributes, but overall the beauty of the individual shapes is a matter of personal taste.</p>
                    <p><a href="#/products" class="btn btn-primary" role="button">More</a> </p>
                </div>
            </div>
        </div>
    </div>


</div>
